<h2>Edit Student Profile</h2>
<%= form_tag student_path(@student), :method => :put do %>
  <%= label :student, :name, 'Name', :class => 'col-form-label' %>
  <%= text_field :student, 'name', :class => 'form-control' %>
  <%= label :movie, :email, 'Email', :class => 'col-form-label'  %>
  <%= text_field :student, 'email', :class => 'form-control' %>
  <%= label :movie, :bio, 'Bio', :class => 'col-form-label'  %>
  <%= text_field :student, 'bio', :class => 'form-control' %>
   
  <br/>
  
  <%= submit_tag 'Update Profile Info', :class => 'btn btn-primary' %>
<% end %>