<section style="background-color: #eee;">
<div class="container py-5">
<div class="container mt-5">
<h2 class="mb-4">Edit Student Profile</h2>
<%= form_tag student_path(@student), method: :put, class: 'border p-4 rounded' do %>
  <div class="mb-3">
    <%= label :student, :name, 'Name', class: 'form-label' %>
    <%= text_field :student, 'name', class: 'form-control' %>
  </div>
  <div class="mb-3">
    <%= label :student, :email, 'Email', class: 'form-label' %>
    <%= email_field :student, 'email', class: 'form-control' %>
  </div>
  <div class="mb-3">
    <%= label :student, :bio, 'Bio', class: 'form-label' %>
    <%= text_area :student, 'bio', class: 'form-control', rows: 3 %>
  </div>
  <div class="mb-3">
    <%= label :student, :linked_in_profile, 'Linkedin', class: 'form-label' %>
    <%= text_field :student, 'linked_in_profile', class: 'form-control', placeholder: "Optional" %>
  </div>
  <div class="mb-3">
  <%= label :student, :facebook_profile, 'Facebook', class: 'form-label' %>
  <%= text_field :student, 'facebook_profile', class: 'form-control', placeholder: "Optional" %>
  </div>
  <div class="mb-3">
  <%= label :student, :personal_website, 'Personal website', class: 'form-label' %>
  <%= text_field :student, 'personal_website', class: 'form-control', placeholder: "Optional" %>
  </div>
  <div class="mb-3">
  <%= label :student, :github_profile, 'Github profile', class: 'form-label' %>
  <%= text_field :student, 'github_profile', class: 'form-control', placeholder: "Optional" %>
  </div>

  <% if !@student.instructor %>
  <div class="mb-3">
  <%= label :student, :skills, 'Skills', class: 'form-label' %>
  <%= text_field :student, 'skills', class: 'form-control', placeholder: "Optional" %>
  </div>
  <% end %>
  <%= submit_tag 'Update Profile Info', class: 'btn btn-primary mt-2 transition-hover' %>
<% end %>

</div>
</div>
</section>
