<h1><%= @student.name %></h1>
<h2><%= @student.email %></h2>
<p><%= @student.bio %></p>

<div class="row">
  <%= link_to 'Edit Profile', edit_student_path(@student), :class => 'btn btn-primary col-2' %>
</div>

<% if @enrolled_courses.present? %>
  <% @enrolled_courses.each do |course| %>
    <div>
      <%= course.name %> 
    </div>
  <% end %>
<% else %>
  <p>No enrolled courses</p>
<% end %>

<%= form_with(url: enroll_student_path(@student), method: :post) do |form| %>
    <%= form.label :course_id, 'Course ID' %>
    <%= form.text_field :course_id %>
    <%= form.submit 'Join' %>
<% end %>