<section style="background-color: #eee;">
<div class="container py-5">
<br />

<% unless @student.instructor %>
<div class="row">
  <div class="col">
  <div class="card mb-4">
  <div class="card-body text-center">
  <h5> Join Course </h5>
  <div class="form-group">
      <%= form_with(url: enroll_student_path(@student), method: :post) do |form| %>
        <div class="form-group mb-3">
          <%= form.label :course_id, 'Course ID' , class: 'sr-only'%>
          <%= form.text_field :course_id, class: 'form-control col-12 mr-2', placeholder: "Join Code" %>
        </div>
        <%= form.submit 'Join', class: 'btn btn-outline-primary ms-1 col-12 mr-2' %>
      <% end %>
  </div>
  </div>
  </div>
  </div>
</div>
<% end %>



<div class="row">
<div class="col-lg-4">
<div class="card mb-4">
  <div class="card-body text-center">
    <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp" alt="avatar"
      class="rounded-circle img-fluid" style="width: 150px;">
    <h5 class="my-3"><%= @student.name %></h5>
    <div class="d-flex justify-content-center mb-2">
      <%= link_to 'Edit Profile', edit_student_path(@student), class: "btn btn-outline-primary ms-1"%>
    </div>
  </div>
</div>
<div class="card mb-4 mb-lg-0">
  <div class="card-body p-0">
    <ul class="list-group list-group-flush rounded-3">
      <% if @student.linked_in_profile.present? %>
        <li class="list-group-item d-flex justify-content-between align-items-center p-3">
        <p class="mb-0 grayed-out-text" style="color: #999;"><%= @student.linked_in_profile %></p>
        </li>
      <% end %>
      <% if @student.facebook_profile.present? %>
      <li class="list-group-item d-flex justify-content-between align-items-center p-3">
      <p class="mb-0 grayed-out-text" style="color: #999;"><%= @student.facebook_profile %></p>
      </li>
    <% end %>
    <% if @student.personal_website.present? %>
    <li class="list-group-item d-flex justify-content-between align-items-center p-3">
    <p class="mb-0 grayed-out-text" style="color: #999;"><%= @student.personal_website %></p>
    </li>
  <% end %>
  <% if @student.github_profile.present? %>
  <li class="list-group-item d-flex justify-content-between align-items-center p-3">
  <p class="mb-0 grayed-out-text" style="color: #999;"><%= @student.github_profile %></p>
  </li>
<% end %>
    </ul>
  </div>
</div>
</div>
<div class="col-lg-8">
        <div class="card mb-4">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Full Name</p>
              </div>
              <div class="col-sm-9">
                <p class="mb-0"><%= @student.name %></p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Email</p>
              </div>
              <div class="col-sm-9">
                <p class="mb-0"><%= @student.email %></p>
              </div>
            </div>
            <hr>
            <% if !@student.instructor %>
            <div class="row">
            <div class="col-sm-3">
              <p class="mb-0">Skills</p>
            </div>
            <div class="col-sm-9">
              <p class="mb-0"><%= @student.interests %></p>
            </div>
          </div>
          <%end%>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="card mb-4 mb-md-0">
              <div class="card-body">
                <p class="mb-4 text-center"> My Courses
                </p>
                <% if @student.instructor %>
                  <% if @courses_taught.present? %>
                    <% @courses_taught.each do |course| %>
                      <div class="course-name mb-2 d-flex justify-content-between align-items-center">
                        <%= link_to course.name.strip + " " + course.semester + " " + course.year.to_s, course %>
                        <p class="mb-0"> Join Code: <%= course.course_id %> </p>
                      </div>
                    <% end %>
                  <% else %>
                    <p class="text-muted">No created courses</p>
                  <% end %>
                  <br />
                  <%= link_to 'Create New Course', new_course_path(instructor_id: @student.id), class: "btn btn-outline-primary ms-1" %>
 
                <% end %>

                <% unless @student.instructor %>
                  <div class="enrolled-courses">
                    <% if @enrolled_courses.present? %>
                      <% @enrolled_courses.each do |course| %>
                        <div class="course-name mb-2">
                          <%= link_to course.name, course %>
                        </div>
                      <% end %>
                    <% else %>
                      <p class="text-muted">No enrolled courses</p>
                    <% end %>
                  </div>
                <% end %>
              </div>
              </div>
            </div>
          </div>
        </div>
      </div>

  <% flash.each do |type, msg| %>
    <div class="alert alert-<%= type %> mt-3">
      <%= msg %>
    </div>
  <% end %>
  
  
  </div>
</div>
</section>