<% if student_signed_in? %>
<%= button_to "Sign Out", destroy_student_session_path, method: :delete %> 
<% else %>
<%= link_to 'Sign Up', new_student_registration_path %>
<%= link_to 'Sign In', new_student_session_path %>
<% end %>

<div class="student-profile">
  <h1 class="course-name"><%= @student.name %></h1>
  <h2><%= @student.email %></h2>
  <p><%= @student.bio %></p>

  <div class="mb-3">
    <%= link_to 'Edit Profile', edit_student_path(@student), class: 'btn btn-primary' %>
  </div>

  <h3 class="course-name">My Courses</h3>
  <div class="enrolled-courses">
    <% if @enrolled_courses.present? %>
      <% @enrolled_courses.each do |course| %>
        <div class="course-name">
          <%= link_to course.name, course %>
        </div>
      <% end %>
    <% else %>
      <p>No enrolled courses</p>
    <% end %>
  </div>

  <% flash.each do |type, msg| %>
    <div class="alert alert-<%= type %> mt-3">
      <%= msg %>
    </div>
  <% end %>

  <div class="enroll-course-form mt-3">
    <%= form_with(url: enroll_student_path(@student), method: :post) do |form| %>
      <div class="mb-3">
        <%= form.label :course_id, 'Course ID' %>
        <%= form.text_field :course_id, class: 'form-control' %>
      </div>
      <%= form.submit 'Join', class: 'btn btn-secondary' %>
    <% end %>
  </div>

</div>
