<section style="background-color: #eee;">
<div class="container mt-5">
<div class="container py-5">
<div class="container mt-5">

<main class="container">
  <div class="d-flex align-items-center p-3 my-3 text-white bg-purple rounded shadow-sm" style="background-color: #fff;">
    <img class="me-3" src="https://static.vecteezy.com/system/resources/previews/004/911/390/original/book-icon-template-black-color-editable-book-icon-symbol-flat-illustration-for-graphic-and-web-design-free-vector.jpg" alt="" width="48" height="38">
    <div class="lh-1">
      <h1 class="h6 mb-0 text-dark lh-1"><%= @course.course_code.strip + ': ' + @course.name.strip + ', ' + @course.semester + ' ' + @course.year.to_s%></h1>
    </div>
  </div>
  <h1 class="h6 mb-0 text-dark lh-1"> Instructor: <%=@instructor.name %></h1>
  <% if @course.section != ""%>
    <h1 class="h6 mb-0 text-dark lh-1"> Section: <%=@course.section %></h1>
  <%end%>
  <div class="my-3 p-3 bg-body rounded shadow-sm">
  <h6 class="border-bottom pb-2 mb-0">Enrolled Students</h6>
  <div class="d-flex text-muted pt-3">
    <svg class="bd-placeholder-img flex-shrink-0 me-2 rounded" width="28" height="26" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 32x32" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#007bff"/><text x="50%" y="50%" fill="#007bff" dy=".3em">32x32</text></svg>
    <p class="pb-3 mb-0 small lh-sm border-bottom">
    <ul class="list-group">
      <% @enrolled_students.each do |student| %>
        <li class="d-block text-gray-dark ml-3">
          <%= link_to student.name, public_profile_path(student) %>
        </li>
      <% end %>
    </ul>
    </p>
  </div>
</div>
<% unless @student.instructor %>
  <div class="my-3 p-3 bg-body rounded shadow-sm" id="my-groups-container">
    <h6 class="border-bottom pb-2 mb-0">My Groups</h6>
    <div class="d-flex text-muted pt-3">
      <svg class="bd-placeholder-img flex-shrink-0 me-2 rounded" width="28" height="26" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 32x32" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#007bff"/><text x="50%" y="50%" fill="#007bff" dy=".3em">32x32</text></svg>
      <%if @user_group%>
        <div>
          <ul class="list-group">
              <li class="d-block text-gray-dark ml-3">
                <%= link_to "#{@user_group.sequential_id}: #{@user_group.students.pluck(:name).join(', ')}", @user_group %>
              </li>
          </ul>
        </div>
        <div class="ml-auto">
          <ul class="list-group">
            <li class="d-block text-gray-dark ml-3">
              <p><%= @user_group.students.count.to_s + '/' + @course.max_group_size.to_s %></p>
            </li>
          </ul>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
<div class="my-3 p-3 bg-body rounded shadow-sm" id="class-groups-container">
  <h6 class="border-bottom pb-2 mb-0">Class Groups</h6>
  <div class="d-flex text-muted pt-3">
    <svg class="bd-placeholder-img flex-shrink-0 me-2 rounded" width="28" height="26" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 32x32" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#007bff"/><text x="50%" y="50%" fill="#007bff" dy=".3em">32x32</text></svg>
    <div>
      <ul class="list-group">
        <% @groups.each do |group| %>
          <li class="d-block text-gray-dark ml-3">
            <%= link_to "#{group.sequential_id}: #{group.students.pluck(:name).join(', ')}", group %> 
            <% if current_student.requested_groups.include?(group) %>
              <p>Requested to Join</p>
            <%elsif @user_group and @user_group.requested_groups.include?(group) %>
              <p>Requested to Merge</p>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
    <div class="ml-auto">
      <ul class="list-group">
        <% @groups.each do |group| %>
          <li class="d-block text-gray-dark ml-3">
            <%= group.students.count.to_s + '/' + @course.max_group_size.to_s %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>

<% flash.each do |type, msg| %>
  <div class="alert alert-<%= type %> mt-3">
    <%= msg %>
  </div>
<% end %>

  <% unless @student.instructor %>
    <%= link_to 'Create New Group', new_course_group_path(@course), class: 'btn btn-primary' %>
  <% end %>
  <%= link_to "My Profile", root_path, class: "btn btn-primary float-right" %>

  <% if @student.instructor? %>
    <%= link_to 'Edit Course', edit_course_path, class: "btn btn-primary float-left" %>
  <% end %>

</main>


  </div>
  </div>
</div>
</section>
