<div class="container mt-5">
  <h1 class="mb-4"><%= @course.name %></h1>

  <div class="mb-4">
    <h2>Enrolled Students:</h2>
    <ul class="list-group">
      <% @enrolled_students.each do |student| %>
        <li class="list-group-item">
          <%= link_to student.name, student %>
        </li>
      <% end %>
    </ul>
  </div>

  <div class="mb-4" id="my-groups-container">
    <h2>My Groups:</h2>
    <ul class="list-group">
      <% @user_groups.each do |g| %>
        <li class="list-group-item">
          <%= link_to g.group_id, g %>
        </li>
      <% end %>
    </ul>
  </div>

  <div id="class-groups-container">
    <h2>Class Groups:</h2>
    <ul class="list-group">
      <% @groups.each do |group| %>
        <li class="list-group-item">
          <%= link_to group.group_id, group %>
          <% if current_student.requested_groups.include?(group) %>
            <p>Requested</p>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>

  <% flash.each do |type, msg| %>
    <div class="alert alert-<%= type %> mt-3">
      <%= msg %>
    </div>
  <% end %>
  
  <%= link_to 'Create New Group', new_course_group_path(@course), class: 'btn btn-primary' %>

  <%= link_to "My Profile", student_path(current_student), class: "btn btn-primary float-right" %>

</div>


