<div class="container mt-5">
  <h1 class="mb-4"><%= @course.name %></h1>

  <div class="mb-4">
    <h2>Enrolled Students:</h2>
    <ul class="list-group">
      <% @enrolled_students.each do |student| %>
        <li class="list-group-item">
          <%= link_to student.name, student %>
        </li>
      <% end %>
    </ul>
  </div>

  <div>
    <h2>Groups:</h2>
    <ul class="list-group">
      <% @groups.each do |group| %>
        <li class="list-group-item">
          <%= link_to group.group_id, group %>
        </li>
      <% end %>
    </ul>
  </div>

  <% flash.each do |type, msg| %>
    <div class="alert alert-<%= type %> mt-3">
      <%= msg %>
    </div>
  <% end %>



  <%= link_to 'Create New Group', new_course_group_path(@course), class: 'btn btn-primary' %>
</div>


