<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Study Buddy</title>

  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
 
  <!-- Custom CSS -->
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>


  <!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<!-- Bootstrap JavaScript and Popper.js -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0.8/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


<script>
  // Function to remove flash messages after 3 seconds
  document.addEventListener('DOMContentLoaded', function() {
    setTimeout(function() {
      document.getElementById('flash_error')?.remove();
      document.getElementById('flash_notice')?.remove();
      document.getElementById('flash_alert')?.remove();
    }, 3000);
  });
</script>


</head>
<body>
<div class="container py-5">
<% if student_signed_in? %>
<%= button_to "Sign Out", destroy_student_session_path, method: :delete, class: 'btn btn-danger mr-2' %> 
<% end %>
</div>

<% flash.each do |key, value| %>
  <div class="modal fade" id="<%= key %>Modal" tabindex="-1" role="dialog" aria-labelledby="<%= key %>ModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="<%= key %>ModalLabel"><%= key.capitalize %></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <%= value %>
        </div>
      </div>
    </div>
  </div>

  <!-- Use JavaScript to show the modal and set a timeout to hide it after 3 seconds -->
  <script>
    $(document).ready(function() {
      $('#<%= key %>Modal').modal('show');
      setTimeout(function() {
        $('#<%= key %>Modal').modal('hide');
      }, 1000);
    });

    
  </script>
<% end %>

  <%= yield %>

  <!-- jQuery and Bootstrap JS -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>